:root {
   --very-dark-blue: hsl(212, 21%, 14%);
   --dark-grayish-blue: hsl(228, 12%, 48%);
   --white: hsl(0, 0%, 100%);
   --antique-white:rgb(243,234,227);
   --dark-cyan: hsl(158, 36%, 37%);
   --cream: hsl(30, 38%, 92%);
   --text-size : 0.875rem;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: var(--antique-white);
    font-family: Montserrat;
    color: var(--dark-grayish-blue);
}
main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    max-height:80vh;
    max-width: 40vw;
    background-color: var(--white);
    border-radius: 10px;
    word-wrap: break-word;
}
.product-info {
    display: grid;
    margin: 30px 5% 20px;
    font-size: 0.875rem;
   
}
.product-info > span {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8rem;
}
.product-info > h1 {
    font-family: Fraunces;
    font-size: 1.8rem;
    color: var(--very-dark-blue);
    margin: 5px 0;
    line-height: 1;
}

.product-info > p {
   font-size: var(--text-size);
   line-height: 1.5;
   font-size: 0.875rem
}
img {
    max-height: 40%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit:cover;
}
.price{
    display: flex;
    margin:10px 0;
    align-items: center;
}
.new-price{
    font-size: 1.8rem;
    font-family: Fraunces;
    color:var(--dark-cyan)
}
.last-price {
    text-decoration:line-through;
    margin-left: 15px;
}

button {
    display: block;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    margin: 10px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    min-height:3vw;
    max-width: 100%;
}
.icon-btn{
    background-image: url(./images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: end;
}
.attribution { 
     padding-top: 20px;
     font-size: 0.678rem;
     }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media screen and (min-width : 1200px) {
    section {
        height: 57vh;
        width: 38vw;
        flex-direction: row;
    }
    img {
        min-height: 100%;
        max-width: 50%;
        border-radius: 10px 0 0 10px;
        object-fit:cover;
    }
    .product-info > h1{
        font-size: 1.9rem;
    }
    .product-info > p {
        font-size: 0.875rem
     }
     .new-price{
       font-size: 1.8rem;
     }
}